@page "/AgregarEstudiante"
@inject HttpClient Http
@inject NavigationManager Navegar

<h3>Registros de estudiantes</h3>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Agregar">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AgregarLibro">Agregar libro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/AgregarEstudiante">Agregar estudiante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AgregarPrestamo">Agregar prestamo</a>
    </li>
</ul>

<div class="row mb-3">
    <div class="col">
        <button class="btn btn-primary" @onclick="()=> { Nuevo(); }">Agregar nuevo estudiante</button>
    </div>
</div>
@if (losEstudiantes != null)
{
<div class="table-responsive">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Campus</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Estudiante estudiante in losEstudiantes)
                {
                    <tr>
                        <td>@estudiante.Id</td>
                        <td>@estudiante.Nombre</td>
                        <td>@estudiante.Campus</td>
                        <td><button class="btn btn-primary" @onclick="()=> { Modificar(estudiante.Id); }">Editar</button></td>
                        <td><button class="btn btn-danger" @onclick="()=> { eliminar(estudiante.Id); }">Eliminar</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}

@if (mostrarMensaje == true)
{
    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar</h5>
                </div>
                <div class="modal-body" role="alert">
                    <p>¿Estás seguro de querer eliminar el registro? No puede deshacerse la acción.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="borrar">Eliminar</button>
                    <button type="button" class="btn btn-secondary" @onclick="cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public List<Estudiante> losEstudiantes;
    public int BorrarId;
    public bool mostrarMensaje = false;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        losEstudiantes = await Http.GetFromJsonAsync<List<Estudiante>>("/api/Estudiantes");
    }

    private void Nuevo()
    {
        Navegar.NavigateTo("/agregar/EstudianteCrear");
    }

    private void eliminar(int id)
    {
        BorrarId = id;
        mostrarMensaje = true;
    }

    private async Task cancelar()
    {
        BorrarId = 0;
        mostrarMensaje = false;
        await Cargar();
    }

    private void Modificar(int id)
    {
        Navegar.NavigateTo($"/Agregar/EstudianteEditar/{id}");
    }

    private async Task borrar()
    {
        await Http.DeleteAsync($"/api/Estudiantes/{BorrarId}");
        await Cargar();
        mostrarMensaje = false;
    }
}