@page "/Agregar"
<h3>Registros</h3>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/Agregar">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AgregarLibro">Agregar libro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AgregarEstudiante">Agregar estudiante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AgregarPrestamo">Agregar prestamo</a>
    </li>
</ul>

<div class="card" style="position: center">
    <div class="card-body">
        <p>Registros de la biblioteca de la facultad de Telememes.</p>
        <small>Todos los derechos reservados 2021.</small>
    </div>
</div>