@page "/agregar/librosEditar/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navegar

<h3>Estudiante Editar</h3>

@if (elLibro != null)
{
    <EditForm Model="@elLibro" OnValidSubmit="Guardar">
        <div class="row mb-3">
            <div class="col">
                <label>Título</label>
                <InputText class="form-control" @bind-Value="elLibro.Titulo"></InputText>
            </div>
            <div class="col">
                <label>Autor</label>
                <InputText class="form-control" @bind-Value="elLibro.Autor"></InputText>
            </div>
            <div class="col">
                <label>Clasificación</label>
                <InputText class="form-control" @bind-Value="elLibro.Clasificacion"></InputText>
            </div>
            <div class="col">
                <label>ISBN</label>
                <InputText class="form-control" @bind-Value="elLibro.ISBN"></InputText>
            </div>
            <div class="col">
                <label>Edición</label>
                <InputNumber class="form-control" @bind-Value="elLibro.Edicion"></InputNumber>
            </div>
            <div class="col">
                <label>Volúmen</label>
                <InputNumber class="form-control" @bind-Value="elLibro.Volumen"></InputNumber>
            </div>
            <div class="col">
                <label>Número de ejemplar</label>
                <InputNumber class="form-control" @bind-Value="elLibro.NoEjemplar"></InputNumber>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public int Id { get; set; }
    public Libro elLibro;

    protected override async Task OnInitializedAsync()
    {
        elLibro = await Http.GetFromJsonAsync<Libro>($"/api/libros/{Id}");
    }

    private async Task Guardar()
    {
        await Http.PutAsJsonAsync($"/api/Libros/{elLibro.Id}", elLibro);
        Navegar.NavigateTo("/AgregarLibro");
    }
}